<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afegir tasca</title>
</head>
<body>
<h1>Afegir una nova tasca</h1>

<form action="/tarea-add" method="post">
    <label>Descripcio:
        <input name="descripcion" type="text" required>
    </label>
    <br>

    <label>Usuari:
        <input name="usuario" type="text" required>
    </label>
    <br>

    <label>Data de venciment:
        <input name="fecha" type="date" required>
    </label>
    <br>

    <label>Hora de venciment:
        <input name="hora" type="time" required>
    </label>
    <br>

    <label>Prioritat:
        <select name="prioridad" required>
            <option value="ALTA">Alta</option>
            <option value="MITJANA" selected>Mitjana</option>
            <option value="BAIXA">Baixa</option>
        </select>
    </label>
    <br>

    <label>Categoria:
        <input name="categoria" type="text">
    </label>
    <br>

    <label>
        <input name="realizada" type="checkbox" value="true">
        Tasca realitzada
    </label>
    <br>

    <input type="submit" value="Afegir">
</form>

<p><a th:href="@{/}">Tornar al menu principal</a></p>
<p><a th:href="@{/tareas-buscar}">Cercar tasques</a></p>
<p><a th:href="@{/tareas-list}">Veure totes les tasques</a></p>
</body>
</html>
